<style>
  .loginform{ display: flex; flex-flow: column nowrap; width: 20vw; height:
  30vh; justify-content: space-around; align-items: center; background-color:
  rgb(255, 230, 230); color: #3535ff; border-radius: 15px; } .field{ display:
  flex; flex-direction: column; width: 90%; justify-content:
  space-around;text-align: left;} .field input{ outline: none; border-radius:
  20px; border: none; background-color: #ffb6b6; color: white; margin-top: 5px;
  font-size: 18px; padding-left: 15px;} .field input:focus{ border-bottom:
  #3535ff 1px solid; } .field label{ font-size: 18px; font-weight: 600; }
  .button { background-color: #04c504; color: white; border: none;
  border-radius: 20px; font-size: 18px; font-weight: 600;} .button:hover {
  cursor: pointer; filter: brightness(90%);}
</style>
<form class="loginform" action="/auth/login" method="post">
  <div class="field">
    <label for="username">nome de usuário:</label>
    <input type="text" name="username" id="username" />
  </div>
  <div class="field">
    <label for="password">senha:</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="field">
    <button class="button" type="submit">Login</button>
  </div>
</form>
<a href="/users/create">criar uma conta</a>