<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/form.css">
    <title>Adicionar evento</title>
  </head>
  <body>
    {{> header title = "Adicionar evento"}}
    <main>
      <form class="formcontainer" action="/events/addEvent" method="post">
      <h1 class="title">Adicione um novo evento:</h1>
        <div class="field">
          <label class="title" for="EventName">Nome do Evento: </label>
        <input type="text" name="EventName" id="EventName" />
        </div>
        <div class="field">
          <label class="title" for="EventDescription">Descrição: </label>
        <input type="text" name="EventDescription" id="EventDescription" />
        </div>
        <div class="field">
        <label class="title" for="EventAddress">Endereço: </label>
        <input type="text" name="EventAddress" id="EventAddress" />
        </div>
        <div class="field">
        <label class="title" for="EventDate">Data: </label>
        <input type="date" name="EventDate" id="EventDate" /> 
        </div>
        <div class="buttonfield">
        <input class="button" type="submit" value="Salvar" />
        </div>        
      </form>
        <button class="cancelbutton" onclick="history.back()">Cancelar</button>
    </main>
  </body>
</html>