<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <form action="/tickets/purchase/{{type}}" method="post">
        <label for="qty">quantidade:</label>
        <input
          type="number"
          name="qty"
          id="qty"
          min="1"
          max="{{max}}"
          required
        />
        <input type="submit" value="realizar o pedido" />
      </form>
      <pre>{{type}}</pre>
    </main>
  </body>
</html>