<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <main>
      <section>
        <h1>
          ERRO
          {{code}}
        </h1>
      </section>
      <section>
        <h3>
          {{message}}
        </h3>
        <p>
          <a href="javascript:history.back()">voltar</a>
        </p>
      </section>
    </main>
  </body>
</html>