<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css">
    <title>TicketStore - Home</title>
  </head>
  <body>
    <header>
        {{> header title = "TicketStore"}}
    </header>
    <main>
      {{#if name}}
        <section class="maincontent">
          <p class="welcome">Bem vindo de volta {{name}}!</p>
          <button class="button" onclick="window.location.href='/events/'">Eventos</button>
          <button class="button" onclick="window.location.href='/tickets/byUser/{{id}}'">Meus bilhetes</button>
        </section>
        {{#if admin}}
        <div class="admincontent">
          <button class="button" onclick="window.location.href='/users/addAdmin'">Novo admin</button>
          <button class="button" onclick="window.location.href='/events/addEvent'">Novo evento</button>
        </div>
        {{/if}}
      {{else}}
        {{#if expiry}}
          <p>Sua sessão expirou</p><br /><br />
        {{/if}}
        <p class="welcome">
          Bem vindo, faça login para prosseguir:
        </p>
        {{> login}}
      {{/if}}
    </main>
    <footer>
      <div class="textorodape">
         <p>criado como projeto para a disciplina de desenvolvimento web backend</p>
      </div>
    </footer>
  </body>
</html>