<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketStore - Home</title>
  </head>
  <body>
    <header>
      <section>
        <h1>Ticket Store</h1>
      </section>
    </header>
    <main>
      {{#if name}}
        <section>
          <p>
            Bem vindo de volta
            {{name}}
          </p><br /><br />
          <a href="/tickets/byUser/{{id}}">meus bilhetes</a>
          <form action="/auth/logout" method="post">
            <input type="submit" value="SAIR" />
          </form>
        </section>
        {{#if admin}}
          <h3>Gerenciamento:</h3>
          <ul>
            <li>
              <a href="/users/addAdmin">Adicionar novo admin</a>
            </li>
            <li>
              <a href="/events/">gerenciar eventos</a>
            </li>
            <li>
              <a href="#">gerenciar usuários</a>
            </li>
          </ul>
        {{/if}}
      {{else}}
        <p>
          Bem vindo à Homepage, faça
          <a href="/auth/login">login</a>
          para prosseguir
        </p>
      {{/if}}
    </main>
    <footer>
      <p>criado como projeto para a disciplina de desenvolvimento web backend</p>
    </footer>
  </body>
</html>