<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketStore - Login</title>
  </head>
  <body>
    <main>
      <section>
        <h1>Login</h1><br /><br />
        <p>Entre com a sua conta:</p>
      </section>
      <section>
        <form action="" method="post">
          <label for="username">nome de usuário</label>
          <input type="text" name="username" id="username" />
          <label for="password">senha:</label>
          <input type="password" name="password" id="password" />
          <input type="submit" value="Login" />
        </form>
        <a href="/users/create">criar uma conta</a>
        <a href="/">voltar</a>
      </section>
    </main>
  </body>
</html>