<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/myTickets.css" />
    <title>Meus Bilhetes</title>
  </head>
  <body>
    <main>
      <section class="topBar">
        <a href="/">Home</a>
        <h1>Meus bilhetes</h1>
        <form action="/auth/logout" method="post">
          <input type="submit" value="SAIR" />
        </form>
      </section>

      <table class="tableStyle"><thead class="tablehead">
          <tr>
            <th>Bilhete</th>
            <th>evento</th>
            <th>valor</th>
          </tr></thead>
        <tbody>
          {{#each data}}
            <tr>
              <td class="cell">{{_id}}</td>
              <td class="cell">{{eventID}}</td>
              <td class="cell">{{price}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </main>
  </body>
</html>