<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/confirmation.css" />
    <title>Sucesso</title>
  </head>
  <body>
    {{> header title = "Sucesso"}}
    <main>
      {{#if evento}}
        <h1 class="mensagem">Evento adicionado com sucesso</h1>
        <a class="link" href="/events/">ver eventos</a>
      {{/if}}
      {{#if eventEdit}}
        <h1 class="mensagem">evento atualizado com sucesso</h1>
        <a class="link" href="/events/">voltar para eventos</a>
      {{/if}}      
      {{#if eventDelete}}
        <h1 class="mensagem">evento removido com sucesso</h1>
        <a class="link" href="/events/">voltar para eventos</a>
      {{/if}}
      {{#if tipo}}
        <h1 class="mensagem">categoria adicionada com sucesso ao evento</h1>
        <a class="link" href="/events/">voltar para eventos</a>
      {{/if}}
      {{#if typeEdit}}
        <h1 class="mensagem">categoria alterada com sucesso</h1>
        <a class="link" href="/events/">voltar para eventos</a>
      {{/if}}
      {{#if typeDelete}}
        <h1 class="mensagem">categoria removida com sucesso</h1>
        <a class="link" href="/events/">voltar para eventos</a>
      {{/if}}
      {{#if bilhete}}
        <h1 class="mensagem">Bilhete emitido com sucesso</h1>
        <a class="link" href="/events/">ver outros eventos</a>
      {{/if}}
      {{#if usuario}}
        <h1 class="mensagem">usuario cadastrado</h1>
      {{/if}}
      <br /><br />
      <a class="link" href="javascript:history.back()">voltar</a><br>
      <a class="link" href="/">retornar para Home</a>
    </main>
  </body>
</html>