<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sucesso</title>
  </head>
  <body>
    <main>
      {{#if evento}}
        <h1>Evento adicionado com sucesso</h1>
      {{/if}}
      {{#if tipo}}
        <h1>categoria adicionada com sucesso ao evento</h1>
      {{/if}}
      {{#if bilhete}}
        <h1>Bilhete emitido com sucesso</h1>
      {{/if}}
      {{#if usuario}}
        <h1>usuario cadastrado</h1>
      {{/if}}
      <br /><br />
      <a href="/">retornar para a página principal</a>
    </main>
  </body>
</html>