body {
  display: flex;
  flex-flow: column wrap;
  background-color: #d9d9b0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}
.topbar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #99838a;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.event {
  margin: 10px;
  display: flex;
  width: 15vw;
  height: fit-content;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #02bfbf;
  padding: 1%;
  text-align: left;
  border: #99838a 1px solid;
  border-radius: 20px;
}

.event:hover {
  cursor: pointer;
  background-color: #acacac;
  color: #4f0671;
}
