body {
  display: flex;
  flex-flow: column wrap;
  background-color: #d9d9b0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
}
.topbar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #99838a;
}

ul {
  list-style-type: none;
}

.card {
  display: flex;
  width: 60vw;
  background-color: white;
  border: 3px solid rgb(192, 184, 184);
  border-radius: 10px;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 2%;
}

.card:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.field {
  display: flex;
  flex-direction: column;
  padding: 1% 0;
}

.field p {
  font-weight: 600;
  font-size: larger;
  color: blue;
}

.field span {
  font-size: 18px;
  color: blue;
}
